USE [ProshaSoft]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BlogComments]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Email] [nvarchar](256) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Response] [nvarchar](max) NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BlogComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Summery] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[UrlParam] [nvarchar](max) NULL,
	[Visit] [int] NOT NULL,
	[Body] [ntext] NULL,
	[PageTitle] [nvarchar](max) NULL,
	[PageDescription] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[IsRelated] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactUsForms]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUsForms](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Email] [nvarchar](300) NOT NULL,
	[Message] [ntext] NOT NULL,
	[Ip] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](300) NOT NULL,
	[Country] [nvarchar](300) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ContactUsForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MapDetails]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[FirstLine] [nvarchar](max) NULL,
	[SecondtLine] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MapDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MiniSliders]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiniSliders](
	[Id] [uniqueidentifier] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Alt] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MiniSliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductComments]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductComments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Email] [nvarchar](256) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Response] [nvarchar](max) NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductFeatures]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductFeatures](
	[Id] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Code] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.ProductFeatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[PageTitle] [nvarchar](500) NULL,
	[PageDescription] [nvarchar](1000) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Summery] [nvarchar](max) NULL,
	[Body] [ntext] NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[UrlParam] [nvarchar](max) NOT NULL DEFAULT (''),
	[ThumbImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Summary] [nvarchar](600) NULL,
	[LinkTitle] [nvarchar](200) NULL,
	[LinkAddress] [nvarchar](200) NULL,
	[LinkTitle2] [nvarchar](200) NULL,
	[LinkAddress2] [nvarchar](200) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[Order] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[IsVideoLink] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Post] [nvarchar](max) NULL,
	[Summery] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TextTypeItems]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextTypeItems](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Body] [ntext] NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[TextTypeId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Summery] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TextTypeItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TextTypes]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TextTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/20/2020 3:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[BlogComments] ([Id], [Name], [Email], [Message], [Response], [BlogId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'456c7b8d-486a-4f3d-adf8-ab561914608e', N'تست', N'a@asd.com', N'ksd', NULL, N'216a6562-17c4-4c68-9268-b02f080e637c', 1, CAST(N'2020-06-16 15:43:10.000' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[MapDetails] ([Id], [Title], [X], [Y], [FirstLine], [SecondtLine], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'd694dc0f-3028-472c-b1c3-0a4de405bf16', N'مرکزی', 520, 660, N'121 مشتری فعال', N'122 نسخه نصب شده', 1, CAST(N'2020-06-19 18:42:38.260' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[MapDetails] ([Id], [Title], [X], [Y], [FirstLine], [SecondtLine], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'5ad9c1cf-bd92-4007-85bc-0c59b80da207', N'چهارمحال و بختیاری', 600, 950, N'121 مشتری فعال', N'122 نسخه نصب شده', 1, CAST(N'2020-06-19 18:45:33.253' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[MapDetails] ([Id], [Title], [X], [Y], [FirstLine], [SecondtLine], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'9ba909fc-f011-485e-b1fc-0e57789da0a5', N'زنجان', 410, 390, N'121 مشتری فعال', N'122 نسخه نصب شده', 1, CAST(N'2020-06-19 18:42:15.263' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[MiniSliders] ([Id], [ImageUrl], [Alt], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'c8afbd30-4e81-4339-89df-222185613063', N'/Uploads/Slider/663bb0db0264445f828e614d4dbae8cb.jpg', NULL, 1, CAST(N'2020-06-19 20:32:23.837' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[MiniSliders] ([Id], [ImageUrl], [Alt], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'121f8509-4799-4e28-b4e8-92b3c10f9ada', N'/Uploads/Slider/6041fee0fdc545588b115899f70f92ae.jpg', NULL, 1, CAST(N'2020-06-19 20:32:30.390' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[MiniSliders] ([Id], [ImageUrl], [Alt], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'428fb525-9826-4a55-8282-ca82fc328be5', N'/Uploads/Slider/a774fc052e9a44ccbb9b2ec5c6be47e0.jpg', NULL, 1, CAST(N'2020-06-19 20:32:37.677' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[ProductFeatures] ([Id], [Key], [Value], [ProductId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [Code]) VALUES (N'7df705fa-26fc-4127-a6e3-05290dbd34f2', N'دریافت گزارش فروش محصولات', N'		ارائۀ نمودار فروش محصولات به دو شکل تعدادی و ریالی بر روی داشبورد فروش
									قابلیت گزارش گیری براساس تعداد و مبالغ ریالی سفارشات ارسالی به تفکیک شهر و مشتریان', N'8a744ff9-7a0e-4fe5-81f3-3800225e0333', 1, CAST(N'2020-06-16 10:42:55.117' AS DateTime), NULL, 0, NULL, NULL, 2)
GO
INSERT [dbo].[ProductFeatures] ([Id], [Key], [Value], [ProductId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [Code]) VALUES (N'2fbe5ce1-b7e3-40c8-8902-82c427a37179', N'انتشار اخبار', N'			اطلاع رسانی به مشتریان با امکان تعریف اخبار عمومی و خصوصی به تفکیک شهر و مشتری', N'8a744ff9-7a0e-4fe5-81f3-3800225e0333', 1, CAST(N'2020-06-16 10:43:06.040' AS DateTime), NULL, 0, NULL, NULL, 3)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'8c07051a-2a95-4957-a09b-8b190df5d2d7', N'مدیر وب سایت', N'Administrator', 1, CAST(N'2020-06-15 20:26:05.650' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Sliders] ([Id], [Title], [Summary], [LinkTitle], [LinkAddress], [LinkTitle2], [LinkAddress2], [ImageUrl], [Order], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [IsVideoLink]) VALUES (N'15b19fd9-c413-42c4-bf82-78dc69fdd085', N'نرم افزار پخش مویرگی', N'توضیحات نرم افزار پخش مویرگی در این قسمت قرار می گیرد. توضیحات نرم افزار پخش مویرگی در این قسمت قرار می گیرد', N'اطلاعات بیشتر', N'#', NULL, NULL, N'/Uploads/Slider/9078e0ef7ad3472dafd565982b0d69f4.jpg', 2, 1, CAST(N'2020-06-19 19:21:48.633' AS DateTime), NULL, 0, NULL, NULL, 0)
GO
INSERT [dbo].[TextTypeItems] ([Id], [Title], [Body], [ImageUrl], [TextTypeId], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [Summery]) VALUES (N'916e6afd-69f3-4259-ab66-265aaabcbeb1', N'ساعات کاری', N'<p>شنبه تا 4 شنبه: 9 الی 18</p><p>پنج شنبه: 9 الی 14</p>', NULL, N'42fe4195-b677-49a6-b4bc-5afb6bedee5c', N'worktime', 1, CAST(N'2020-06-16 15:58:37.390' AS DateTime), NULL, 0, NULL, NULL, NULL)
GO
INSERT [dbo].[TextTypeItems] ([Id], [Title], [Body], [ImageUrl], [TextTypeId], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [Summery]) VALUES (N'7bec1b3c-0967-4412-9ae4-3a68f2819c4f', N'تلفن ', N'021-74652 و 021-71400837', NULL, N'42fe4195-b677-49a6-b4bc-5afb6bedee5c', N'phone', 1, CAST(N'2020-06-16 15:57:20.067' AS DateTime), NULL, 0, NULL, NULL, NULL)
GO
INSERT [dbo].[TextTypeItems] ([Id], [Title], [Body], [ImageUrl], [TextTypeId], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [Summery]) VALUES (N'd04a7ec9-2ffe-4c99-923f-56c8e9b4bef1', N'کارشناس نرم افزار', N'70', NULL, N'8716ba57-69c0-42ec-b032-37929f98ec3d', NULL, 1, CAST(N'2020-06-19 20:37:14.940' AS DateTime), NULL, 0, NULL, NULL, N'lnr-briefcase')
GO
INSERT [dbo].[TextTypes] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'1b230393-175f-409c-90d5-23bc112cd9a6', N'تصویر ویژگی ها -صفحه اصلی', 1, CAST(N'2020-06-19 20:07:48.000' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[TextTypes] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'8716ba57-69c0-42ec-b032-37929f98ec3d', N'اعداد صفحه اول', 1, CAST(N'2020-06-19 20:35:05.023' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[TextTypes] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'42fe4195-b677-49a6-b4bc-5afb6bedee5c', N'اطلاعات تماس', 1, CAST(N'2020-06-16 15:53:55.247' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Username], [Password], [LastLoginDate], [RoleId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'45e6ed7a-075d-468d-b3dd-22a1d5be8220', N'baseuser', N'baseuser', N'admin', N'kgtoil123!@#', NULL, N'8c07051a-2a95-4957-a09b-8b190df5d2d7', 1, CAST(N'2020-06-15 20:26:05.677' AS DateTime), NULL, 0, NULL, NULL)
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogComments_dbo.Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogComments] CHECK CONSTRAINT [FK_dbo.BlogComments_dbo.Blogs_BlogId]
GO
ALTER TABLE [dbo].[ProductComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductComments_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductComments] CHECK CONSTRAINT [FK_dbo.ProductComments_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductFeatures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductFeatures_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductFeatures] CHECK CONSTRAINT [FK_dbo.ProductFeatures_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[TextTypeItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TextTypeItems_dbo.TextTypes_TextTypeId] FOREIGN KEY([TextTypeId])
REFERENCES [dbo].[TextTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TextTypeItems] CHECK CONSTRAINT [FK_dbo.TextTypeItems_dbo.TextTypes_TextTypeId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
