
@{
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<section id="page-title" class="page-title">
	<div class="container-fluid bg-overlay bg-overlay-dark">
		<div class="bg-section">
			<img src="/assets/images/page-title/title-20.jpg" alt="Background" />
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="title title-1 text--center">
					<div class="title--content">
						<div class="title--heading">
							<h1>اپلیکیشن POS</h1>
						</div>
					</div>
					<div class="clearfix"></div>
					<ol class="breadcrumb">
						<li><a href="/">خانه</a></li>
						<li><a href="#">محصولات</a></li>
						<li class="active">اپلیکیشن POS</li>
					</ol>
				</div><!-- .page-title end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>

		<section id="product" class="shop shop-product bg-white">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12  col-md-9">
				 

						<div class="product-img mb-50">
							<img class="img-responsive" src="/assets/images/shop/full/1.jpg" alt="product image">
						</div><!-- .product-img end -->
						<div class="product-title">
							<h1>اپلیکیشن POS</h1>
						</div><!-- .product-title end -->
		 
						<div class="product-desc">
							<p>با توجه به سرعت تغییرات بازار و جایگزینی روشهای مدرن با شیوه های سنتی فروش و همچنین رشد تکنولوژی در حوزه ارائه سرویس و خدمات آنلاین در کشور با موج جدیدی از تمایلات و اعتماد روز افزون مخاطبان به استفاده از اپلیکیشن های آنلاین جهت تامین نیازهای خود مواجه هستیم،که این امر داشتن ابزارهای آنلاین جهت ارتبا ط با مشتری را جزو الینفک بهبود عملکرد و بهینه سازی فرآیند فروش شرکت می سازد . گروه نرم افزاری پروشا اکنون با شناخت کامل نیاز بازار، تحلیل عملکرد فروش شرکتهای فعال در حوزۀ توزیع و پخش کشور، جهت مدیریت و اثربخشی هرچه بهتر فرآیند فروش راهکاری نوین و متفاوت در حوزه سفارشگیری ارائه می نماید</p>
							<h2>
								امکانات شرکت های پخش و تامین کنندگان
							</h2>
							<p>قدرتمند ترین و اختصاصی ترین پنل تحت وب که امکان مدیریت اطلاعات را به بهترین نحو ممکن در اختیار کاربران قرار می دهد. قابلیت اتصال پنل مدیریتی با تمام نرم افزارهای جامع سازمان های توزیع و پخش مزیت ویژۀ سیستم POS است. تحت پوشش بودن سالیانه پنل در قسمت پشتیبانی، امنیت بالای اطلاعات و سرعت عمل از امکانات دیگر پنل است.</p>
						
							<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
								<div class="accordion accordion-2" id="accordion02">
									<!-- Panel 01 -->
									<div class="panel">
										<div class="panel--heading">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-1"> نظرسنجی و تحقیقات بازار </a>
										</div>
										<div id="collapse02-1" class="panel--body panel-collapse collapse in">
											قابلیت تعریف داینامیک کمپین های نظرسنجی و تحقیقات بازار با فرمت دلخواه توسط شرکت های پخش و تامین کنندگان و ارسال آن بر روی اپلیکیشن مشتریان
											ارتقاء به عملکرد پرسنل و شرکت های پخش از طریق نتایج حاصل شده از گزارشات تحلیل بازار و بازخورد مشتریان
										</div>
									</div>

									<!-- Panel 01 -->
									<div class="panel">
										<div class="panel--heading">
											<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-2">دریافت گزارش فروش محصولات</a>
										</div>
										<div id="collapse02-2" class="panel--body panel-collapse collapse">
											ارائۀ نمودار فروش محصولات به دو شکل تعدادی و ریالی بر روی داشبورد فروش
											قابلیت گزارش گیری براساس تعداد و مبالغ ریالی سفارشات ارسالی به تفکیک شهر و مشتریان										</div>
									</div>

									<!-- Panel 03 -->
									<div class="panel">
										<div class="panel--heading">
											<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-3">انتشار اخبار</a>
										</div>
										<div id="collapse02-3" class="panel--body panel-collapse collapse">
											اطلاع رسانی به مشتریان با امکان تعریف اخبار عمومی و خصوصی به تفکیک شهر و مشتری
										</div>
									</div>
								</div>
								<!-- End .Accordion-->
							</div><!-- .col-md-8 end -->
							<div class="clearfix"></div>

						</div><!-- .product-desc end -->
		 
						<hr>
			 
					 
						<div class="product-related shop-categories">
							<div class="product-related-title">
								<h5>سایر محصولات:</h5>
							</div>
							<div class="divider--line">
								<i class="divider divider--1"></i>
								<i class="divider divider--2"></i>
								<i class="divider divider--3"></i>
								<i class="divider divider--4"></i>
							</div>
							<div class="row">
								<!-- Product #10 -->
							@for (int i = 0; i < 3; i++)
							{
								
						
								<div class="col-xs-12 col-sm-6 col-md-4 product-item">
									<div class="product--img">
										<img src="/assets/images/shop/grid/10.jpg" alt="Product" />
										<div class="product--hover">
											<div class="product--action">
												<a href="#">مشاهده محصول</a>
											</div>
										</div><!-- .product-overlay end -->
									</div><!-- .product-img end -->
									<div class="product--content">
						 
										<div class="product--title">
											<h3><a href="#">نرم افزار ردیابی تحت وب</a></h3>
										</div><!-- .product-title end -->
									 
									</div> 
								</div> 
							}
							</div><!-- .row end -->
						</div><!-- .product-related end  -->

					</div><!-- .product-item end -->
					<div class="col-xs-12 col-sm-12  col-md-3 sidebar-full">
				 
						<div class="widget widget-categories">
							<div class="widget--title">
								<h5>گروه محصولات</h5>
							</div>
							<div class="divider--line">
								<i class="divider divider--1"></i>
								<i class="divider divider--2"></i>
								<i class="divider divider--3"></i>
								<i class="divider divider--4"></i>
							</div>
							<div class="widget--content">
								<ul class="list-unstyled">
									<li>
										<a href="#">نرم افزار پخش مویرگی</a>
									</li>
									<li>
										<a href="#">نرم افزار POS</a>
									</li>
									<li>
										<a href="#">نرم افزارهای تکمیلی</a>
									</li>
								 
								</ul>
							</div>
						</div> <!-- .widget-categories end -->
						<!-- Recent Products
						===
						=== === === === === === === === === === === === === === -->
						<div class="widget widget-recent-products">
							<div class="widget--title">
								<h5>آخرین مطالب وبلاگ</h5>
							</div>
							<div class="divider--line">
								<i class="divider divider--1"></i>
								<i class="divider divider--2"></i>
								<i class="divider divider--3"></i>
								<i class="divider divider--4"></i>
							</div>
							<div class="widget--content">
								<!-- Product #1 -->
								
								@for (int i = 0; i < 3; i++)
								{
									
							
								<div class="product clearfix">
									<img src="/assets/images/shop/thumb/3.jpg" alt="product" />
									<div class="product-desc">
										<div class="product-title">
											<a href="#">معرفی برترین نرم افزار حوزه پخش</a>
										</div>
										<div class="product-meta">
											<span>22 اردیبهشت 99</span>
										</div>
									</div>
								</div>
								}
							</div>

						</div> 
						<div class="widget widget-tags">
							<div class="widget--title">
								<h5>محصول ویژه</h5>
							</div>
							<div class="divider--line">
								<i class="divider divider--1"></i>
								<i class="divider divider--2"></i>
								<i class="divider divider--3"></i>
								<i class="divider divider--4"></i>
							</div>
							<div class="widget--content">
								<a href="#">
								<img src="~/assets/images/top-product.jpeg" class="img-responsive" />
								</a>
							</div>
						</div> <!-- .widget-tags end -->
					</div><!-- .sidebar-full end -->
				</div><!-- .row end -->

			</div><!-- .container end -->
		</section> 
 
 