@model ViewModels.ProductListViewModel
@{
    ViewBag.Title = Model.ProductGroup.PageTitle;
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
 


<section id="page-title" class="page-title">
	<div class="container-fluid bg-overlay bg-overlay-dark">
		<div class="bg-section">
			<img src="/assets/images/page-title/title-20.jpg" alt="Background" />
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="title title-1 text--center">
					<div class="title--content">
						<div class="title--heading">
							<h1>@Model.ProductGroup.TitleSrt</h1>
						</div>
					</div>
					<div class="clearfix"></div>
					<ol class="breadcrumb">
						<li><a href="/">خانه</a></li>
				 
						<li class="active">@Model.ProductGroup.TitleSrt</li>
					</ol>
				</div><!-- .page-title end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>

<section id="shop" class="shop shop-3 bg-white">
	<div class="container">
		<div class="row">
			<!-- Product #1 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/1.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Men</a> , <a href="#">Clothes</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">T-Shirt With a Print</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$18.00</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #2 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/2.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Men</a> , <a href="#">Accessories</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Brown Leather Belt</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$12.00</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #3 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/3.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Men</a> , <a href="#">Shirts</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Checked Flannel Shirt</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$19.99</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #4 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/4.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Men</a> , <a href="#">shoes</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Brown Leather Boots</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$33.00</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #5 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/5.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Women</a> , <a href="#">Accessories</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Leather & Brass Tote</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$63.00</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #6 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/6.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Women</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Elkskin Suede Gloves</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$17.00</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #7 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/7.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Accessories</a> , <a href="#">Bags</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Mismo Briefcase</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$38.00</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #8 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/8.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Accessories</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Headphones Pryma</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$16.00</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #9 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/9.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Women</a> , <a href="#">Accessories</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Leather bracelet cord with hook</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$25.99</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #10 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/10.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Men</a> , <a href="#">shoes</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Grey Trainers</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$19.00</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #11 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/11.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">Men</a> , <a href="#">shoes</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Sandals Mateos</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$15.00</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->
			<!-- Product #12 -->
			<div class="col-xs-12 col-sm-6 col-md-3 product-item">
				<div class="product--img">
					<img src="assets/images/shop/grid/12.jpg" alt="Product" />
					<div class="product--hover">
						<div class="product--action">
							<a href="#">Add To Cart</a>
						</div>
					</div><!-- .product-overlay end -->
				</div><!-- .product-img end -->
				<div class="product--content">
					<div class="product--cat">
						<a href="#">bags</a>
					</div><!-- .product-cat end -->
					<div class="product--title">
						<h3><a href="#">Marschall Pack</a></h3>
					</div><!-- .product-title end -->
					<div class="product--price">
						<span>$26.99</span>
					</div><!-- .product-price end -->
				</div><!-- .product-bio end -->
			</div><!-- .product end -->

		</div><!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12  col-md-12 clearfix  text--center">
				<ul class="pagination">
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
						</a>
					</li>
				</ul>
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->

	</div><!-- .container end -->
</section>